body{
  background-image: url("imgs/kuriaresol.jpeg");
  background-size: cover;
  color: white;
  background-attachment: fixed;
  position: absolute;
  font-size: 15px;
}
.navbar-nav {
  display: inline-block;
  color:white;
}

.navbar-nav>li {
   display: inline-block;
   color:black;
}

.navbar{
  text-decoration-color: white;
}
.jumbotron:hover{
  opacity:0.5
}
#submit{
  margin-left:300px;

}
#top{
  color: black;
}
#sub2{
    background-color: #1a7184;
}
#two{
  background-size: cover;
  background-color: #6dc43e
  color: white;
  background-attachment: fixed;
}
.footer{
  margin-top: 100px;
  height: 100px;
  margin-left: -90px;
  text-align: center;
  margin-right: -90px;
  color: white;
  font-size: 30px;
  background-image: url("dice.jpeg");
  background-size: cover;
}
